user]                                                                                                                                                                       
  email = EMAIL
  name = NAME
[credential]
  helper = cache --timeout=3600
